@define-color bg_semitransparent rgba(0, 0, 0, .8);
@define-color bg_transparent rgba(0, 0, 0, .3);
@define-color bg_opaque rgba(0, 0, 0, 1);
@define-color bg_none rgba(0, 0, 0, 0);
@define-color inactive #909090;
@define-color fg_bright #e0e0e0;
@define-color fg_critical #f0f;
@define-color trough rgba(80, 80, 80, 0.5);

* {
	font-family: "Noto Sans", "Font Awesome 6 Free Solid";
	font-size: 14px;
	min-height: 0px;
}

#workspaces {
	margin-top: -6px;
	margin-bottom: -6px;
}

#custom-mako.do-not-disturb,
#clock.2:hover,
#workspaces button.focused,
#idle_inhibitor.activated,
#pulseaudio,
#wireplumber.icon,
#battery.icon,
#power-profiles-daemon,
#workspaces button.visible,
#workspaces button:hover {
	color: @theme_selected_bg_color;
}

#workspaces button.urgent {
	background-color: @theme_selected_bg_color;
}

#clock.1,
#clock.3,
#pulseaudio-slider,
window#waybar #window,
#privacy-item.audio-in,
#privacy-item.screenshare,
#network.disconnected,
#tray {
	background: @bg_semitransparent;
}

window#waybar {
	background-color: @bg_transparent;
}

#clock.2,
#workspaces,
#battery,
#power-profiles-daemon,
#network.wifi,
#custom-mako,
#mode,
#submap,
#pulseaudio,
#wireplumber.icon,
#idle_inhibitor,
#window {
	background: @bg_opaque;
}

#pulseaudio.sink.muted,
#wireplumber.icon.muted,
#pulseaudio.source.source-muted,
#pulseaudio.name.muted,
#network.wifi,
#clock,
#idle_inhibitor.deactivated,
#custom-mako {
	color: @inactive;
}

#workspaces * {
	border-radius: 0px;
}

#workspaces button,
#custom-mako,
#custom-mako.do-not-disturb,
#workspaces button.urgent,
#idle_inhibitor,
#workspaces button.focused,
#pulseaudio,
#wireplumber.icon,
#network.wifi,
#battery,
#power-profiles-daemon,
#tray > .active,
#workspaces button:hover {
	opacity: 0.8;
}

#workspaces button.focused:hover,
#workspaces button.urgent:hover,
#pulseaudio:hover,
#wireplumber.icon:hover,
#idle_inhibitor:hover,
#custom-mako.do-not-disturb:hover,
#custom-mako:hover,
#network.wifi:hover,
#battery:hover,
#power-profiles-daemon:hover,
#tray > .active:hover {
	opacity: 1;
}

#workspaces button.urgent:hover,
#workspaces button.urgent,
#pulseaudio.name,
#battery.time,
#clock.2,
#window {
	color: @fg_bright;
}

#clock,
#pulseaudio,
#wireplumber.icon,
#idle_inhibitor,
#battery,
tooltip,
window#waybar {
	font-family: "Noto Sans Mono Medium";
}

#clock,
#privacy,
#mode,
#submap {
	padding: 0px;
}

#tray {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
}

#pulseaudio.sink,
#power-profiles-daemon,
#wireplumber.icon {
	margin-left: -0.4em;
}

/*#battery.icon.warning,*/
#network.disconnected {
	color: @warning_color;
}

#battery.icon.critical {
	color: @fg_critical;
}

#clock,
#mode,
#submap,
#network.wifi.icon,
#battery.time,
#network.disconnected {
	padding: 0px 5px 0px 5px;
	margin: 0px 5px 0px 5px;
}

#power-profiles-daemon,
#network.ssid,
#battery.icon {
	padding: 0px 5px 0px 5px;
}
#window,
#pulseaudio.source {
	padding: 0px 5px 0px 5px;
	margin-left: 5px;
}

#custom-mako,
#pulseaudio.sink,
#pulseaudio.name,
#wireplumber.icon,
#idle_inhibitor {
	padding: 0px 10px 0px 5px;
	margin-left: 5px;
}

#pulseaudio-slider {
	padding: 0px 8px 0px 8px;
	margin-left: 5px;
	min-width: 160px;
}

#network.ethernet,
window#waybar.empty #window {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	opacity: 0;
}

#pulseaudio-slider slider {
	margin-top: -5px;
	margin-bottom: -5px;
	margin-right: 5px;
	margin-left: -5px;
	padding: 0px;
	min-height: 12px;
	min-width: 12px;
	box-shadow: inset 0px 0px 0px 40px @bg_opaque, 0px 0px 0px 2px @theme_selected_bg_color;
	background-color: @bg_opaque;
	border-radius: 100px;
}

#pulseaudio-slider trough {
	background-color: @trough;
}

@keyframes flickerAnimation {
	0% {color: @theme_selected_bg_color;}
	10% {color: @theme_selected_bg_color;}
	50% {color: @bg_opaque;}
	90% {color: @theme_selected_bg_color;}
	100% {color: @theme_selected_bg_color;}
}

#privacy {
	background-color: @bg_none;
}

#privacy-item.audio-in,
#privacy-item.screenshare {
	animation: flickerAnimation 3s infinite;
}

#privacy-item.screenshare {
	margin-right: 0px;
	margin-left: 5px;
	padding-left: 7px;
}

#privacy-item.audio-in {
	margin-left: 0px;
	padding-left: 3px;
	padding-right: 5px;
}
