* { outline-width: 0px; }
/* remove window title from Client-Side Decorations */
.solid-csd headerbar .title {
    font-size: 0;
}
@define-color accent_bg_color #cc0000;
@define-color accent_color @accent_bg_color;

/* hide extra window decorations/double border */
window decoration {
    margin: 0;
    border: none;
    padding: 0;
}
* {
  text-shadow: none;
}

#zim-pageview text {
    background-color: #000000;  /* changes the background color of the Zim's page editor */
    color: #ffffff; /* foreground text color */
}

#zim-toc-widget {
  color: #2b2b2b;  /* sets the color of the border line of the Table of Content plugin */
  opacity: 0.9;    /* give the ToC some nice transparency */
  font-size: 12px; /* ToC font size */
  }

#zim-toc-widget scrolledwindow treeview {
  color: #BABABA;  /* sets the color of the text within the Table of Content plugin */
  opacity: 1;
  }

#zim-sidepane {
	    background-color: #000000;  /* changes the background color of the Zim's sidepane */
		    color: #ffffff; /* foreground text color */
}

#zim-pageindex {
		    background-color: #000000;  /* changes the background color of the Zim's sidepane */
		    color: #ffffff; /* foreground text color */
}
